@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.main{
    width: 80%;
    margin: 30px auto;
    border: 1px solid rebeccapurple;
    background-color: teal;
}
.main h1{
    text-align: center;
    margin: 20px 0px;
}
.box{
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
}
.single-box{
    padding: 20px;
    margin-bottom: 30px;
    background-color: orange;
    width: 300px;
}
.single-box:nth-child(1){
    order: 6;
}
.single-box:nth-child(2){
    order: 4;
}
.single-box:nth-child(3){
    order: 5;
}
.single-box:nth-child(4){
    order: 1;
}
.single-box:nth-child(5){
    order: 3;
}
.single-box:nth-child(6){
    order: 2;
}