*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 80%;
    margin: 30px auto;
    padding: 10px;
    border: 1px solid rebeccapurple;
    background-color: teal;
}
.main h1{
    text-align: center;
}
.box{
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;
}
.single-box{
    margin: 20px;
    padding: 20px;
    background-color: orange;
    width: 300px;
}